<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="30001">
        <setting id="quality"               type="enum"   label="30072" lvalues="30073|30074|30075" default="0" />
        <setting id="youtube.video.quality" type="enum"   label="30076" lvalues="30073|30075|30077" default="2" />
        <setting id="prefetch"              type="bool"   label="30066" default="false" />
    </category>

    <!-- Advanced -->
    <category label="30051">
        <setting id="debug"             type="bool"   label="30061" default="true" />
        <setting id="clear_cache"       type="action" label="30062" option="close" action="RunPlugin(plugin://plugin.audio.googlemusic.exp/?action=clear_cache)" />
        <setting id="clear_oauth"       type="action" label="30063" option="close" action="RunPlugin(plugin://plugin.audio.googlemusic.exp/?action=clear_oauth_cache)" />
        <setting type="sep" />
        <setting id="device_id"         type="text"   label="Device ID" default="" enable="false"/>
        <!-- invisible settings -->
        <setting id="subscriber"        type="bool"   default="false"   visible="false"/>
        <setting id="fetched_time"      type="number" default="0"       visible="false"/>
        <setting id="fetched_count"     type="number" default="0"       visible="false"/>
    </category>

</settings>
